@charset "UTF-8"

/* font */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap&subset=korean');

* {padding: 0px; margin: 0px;}
body {
	background: #ebe9e4; 
	font-family: 'Nanum Gothic', 'Noto Sans KR', sans-serif; 
	font: normal 0.813em/1.2 "Nanum Gothic", Dotum, arial, Tahoma;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 0.813em;
    line-height: 1.2;
    font-family: "Nanum Gothic", Dotum, arial, Tahoma;
    color: #4c4c4c;}
li {list-style: none;}
a {text-decoration: none;}