/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 20; /* Sit on top */
    left: 0;
    top: 90;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	position: relative;
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 0px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

.modal-head {
  display: block;
  color: #FFF;
  margin: 0;
  vertical-align: top;
  background-color: #997149;

}

.container {
  width: 100%;
  margin: 0 auto;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.tabs li {
	background: #ffffff;
	color: #000000;
	display: inline-block;
	padding: 15px 20px;
	cursor: pointer;
  font-size: 20px;
}

ul.tabs li.current {
	background: #ededed;
	color: #000000;
  font-weight: bold;
}

.tab-content {
	display: none;
	background: #ededed;
	padding: 15px;
}

.tab-content.current {
  background: #ededed;
	display: block;
}

modal-content .pop_head {
	display: block;
	margin: 0px;
	padding: 0 20px;
	color: #fff;
	background: #997149;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 5px 12px;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button#myBtn {
  display: block;
  padding: 20px 50px;
  margin: 0 auto;
}